.discussions {
  margin-top: 20px;
}

.discussions-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.discussions-container {
  margin-top: 40px;
}

.discussion-form-title {
  font-size: 22px;
}

.discussion-form-textarea {
  width: 100%;
  height: 80px;
  margin-bottom: 8px;
  margin-top: 8px;
  border: 1px solid rgb(107, 114, 12);
}

.discussion-form-button {
  font-size: 16px;
  padding: 8px 16px;
  background: rgb(59, 130, 246);
  border-radius: 8px;
  color: white;
}

.discussion-form-button:hover:enabled {
  cursor: pointer;
  background: rgb(37, 99, 235);
}

.discussion-form-button:disabled {
  opacity: 0.7;
  cursor: default;
}

.discussion-form-cancel-button {
  margin-left: 10px;
}

.discussion {
  display: flex;
  margin-bottom: 28px;
}

.discussion-image-container {
  margin-right: 12px;
}

.user-icon {
  width: 50px;
  height: 50px;
}

.discussion-image-container img {
  border-radius: 50px;
}

.discussion-right-part {
  width: 100%;
}

.discussion-content {
  display: flex;
}

.discussion-author {
  margin-right: 8px;
  font-size: 20px;
  color: rgb(59, 130, 246);
}

.discussion-text {
  font-size: 18px;
}

.discussion-actions {
  display: flex;
  font-size: 12px;
  color: rgb(51, 51, 51);
  cursor: pointer;
  margin-top: 8px;
}

.discussion-action {
  margin-right: 8px;
}

.discussion-action:hover {
  text-decoration: underline;
}
/* C O L O R  P A L E T T E
#F4F4ED white
#91DFF2 turqoise
#605DE4 lght purp
#2D187C drk purp */
* {
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
  margin: 0;
  padding: 0;
}

/* H O M E P A G E  S T Y L I N G  
/* N A V  B A R */
.bg-nav {
  background-color: #2d187c;
}

/* B A C K G R O U N D  I M A G E */
.bck-image {
  /* background-image: url(./images/rorschach-ink.jpeg); */
  background-size: cover;
  border-radius: 20px;
  height: 100vh;
}

.greet {
  color: #2d187c;
}

.site-name {
  color: #91dff2;
}

.para {
  color: #2d187c;
}

.home-container {
  text-align: center;
  align-items: center;
  background-color: #8b74e079;
  padding-top: 90px;
  padding-right: 90px;
  padding-bottom: 90px;
  padding-left: 90px;
  height: 100vh;
}
.home-container p {
  font-size: 30px;
}

.home-container h1 {
  font-size: 60px;
}

/* L O G I N  B U T T O N */
.home-btn-log {
  color: #91dff2;
  background: none;
  border-radius: 20px;
  padding: 30px, 45px;
  width: 120px;
  height: 40px;
  border: 1px solid #91dff2;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}

.home-btn-log:hover {
  color: #fff;
  background: #91dff2;
}

/* S I G N  U P  B U T T O N */
.home-btn-sign {
  color: #2d187c;
  background: none;
  border-radius: 20px;
  padding: 30px, 45px;
  width: 120px;
  height: 40px;
  border: 1px solid #2d187c;
  outline: none;
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.home-btn-sign:hover {
  color: #fff;
  background: #2d187c;
}

/* R O R S C H A C H  S T Y L I N G */
.rorP {
  color: #2d187c;
  font-size: 30px;
  text-align: center;
}

/* L O G I N  S T Y L I N G */

/* U S E R  S T Y L I N G */

/* D I S C U S S  S T Y L I N G */

/* D R A W */

/* F L E X  C O N T E N T */
.flex-row {
  display: flex;
  flex-wrap: wrap;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-flex-start {
  justify-content: flex-start;
}

.justify-flex-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.align-stretch {
  align-items: stretch;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.col-auto {
  flex-grow: 1;
}

.col-1 {
  flex: 0 0 calc(100% * 1 / 12 - 2%);
}

.col-2 {
  flex: 0 0 calc(100% * 2 / 12 - 2%);
}

.col-3 {
  flex: 0 0 calc(100% * 3 / 12 - 2%);
}

.col-4 {
  flex: 0 0 calc(100% * 4 / 12 - 2%);
}

.col-5 {
  flex: 0 0 calc(100% * 5 / 12 - 2%);
}

.col-6 {
  flex: 0 0 calc(100% * 6 / 12 - 2%);
}

.col-7 {
  flex: 0 0 calc(100% * 7 / 12 - 2%);
}

.col-8 {
  flex: 0 0 calc(100% * 8 / 12 - 2%);
}

.col-9 {
  flex: 0 0 calc(100% * 9 / 12 - 2%);
}

.col-10 {
  flex: 0 0 calc(100% * 10 / 12 - 2%);
}

.col-11 {
  flex: 0 0 calc(100% * 11 / 12 - 2%);
}

.col-12 {
  flex: 0 0 100%;
}

/* M E D I A  Q U E R I E S
    /* col-sm */
@media screen and (min-width: 640px) {
  .col-sm-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-sm-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-sm-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-sm-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-sm-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-sm-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-sm-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-sm-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-sm-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-sm-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-sm-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-sm-12 {
    flex: 0 0 100%;
  }
}

/* col-md */
@media screen and (min-width: 768px) {
  .col-md-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-md-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-md-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-md-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-md-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-md-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-md-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-md-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-md-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-md-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-md-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-md-12 {
    flex: 0 0 100%;
  }
}

/* col-lg */
@media screen and (min-width: 992px) {
  .col-lg-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-lg-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-lg-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-lg-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-lg-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-lg-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-lg-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-lg-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-lg-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-lg-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-lg-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-lg-12 {
    flex: 0 0 100%;
  }
}

/* col-xl */
@media screen and (min-width: 1200px) {
  .col-xl-1 {
    flex: 0 0 calc(100% * 1 / 12 - 2%);
  }

  .col-xl-2 {
    flex: 0 0 calc(100% * 2 / 12 - 2%);
  }

  .col-xl-3 {
    flex: 0 0 calc(100% * 3 / 12 - 2%);
  }

  .col-xl-4 {
    flex: 0 0 calc(100% * 4 / 12 - 2%);
  }

  .col-xl-5 {
    flex: 0 0 calc(100% * 5 / 12 - 2%);
  }

  .col-xl-6 {
    flex: 0 0 calc(100% * 6 / 12 - 2%);
  }

  .col-xl-7 {
    flex: 0 0 calc(100% * 7 / 12 - 2%);
  }

  .col-xl-8 {
    flex: 0 0 calc(100% * 8 / 12 - 2%);
  }

  .col-xl-9 {
    flex: 0 0 calc(100% * 9 / 12 - 2%);
  }

  .col-xl-10 {
    flex: 0 0 calc(100% * 10 / 12 - 2%);
  }

  .col-xl-11 {
    flex: 0 0 calc(100% * 11 / 12 - 2%);
  }

  .col-xl-12 {
    flex: 0 0 100%;
  }
}
